:root {
  --bg-color: white;
  --text-color: black;
  --bg-nav: rgba(255, 255, 255, 0.6);
  --border-color: rgba(183, 183, 183, 0.637);
  --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.167);
  --btn-color: white;
  --btn-bg-color: oklch(95% 0.0058 264.53);
  --features-bg-color: rgba(231, 231, 231, 0.345);
  --card-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.103);
}

.components-titless {
  text-align: center;
  padding: 50px 0px;
}
.components-titless h1 {
  font-weight: 800;
  font-size: 69px;
  background: linear-gradient(90deg, #7265ff, #ff51a3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.components-titless p {
  color: oklch(56.926% 0.00006 271.152);
  font-size: 17px;
}

.tab-title {
  color: var(--text-color);
  margin: 14px 0px;
}
