:root {
  --bg-color: white;
  --text-color: black;
  --bg-nav: rgba(255, 255, 255, 0.6);
  /* --border-color: rgba(183, 183, 183, 0.637); */
  --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.167);
  --btn-color: white;
  --btn-bg-color: oklch(95% 0.0058 264.53);
  --features-bg-color: rgba(231, 231, 231, 0.345);
  --card-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.103);
  --secondary: oklch(95% 0.0058 264.53);
  --color: oklch(56.926% 0.00006 271.152);
  --border-color: oklch(71.871% 0.00008 271.152);
  --card: white;
  --input-background: #f3f3f5;
  --placeholder-color: rgb(91, 91, 91);
  --muted-foreground: oklch(70.8% 0 0);
  --color-pink-500: oklch(65.613% 0.24084 353.961 / 0.366);
}

#contact-us {
  margin-top: 50px;
}
.title {
  text-align: center;
}
.title h1 {
  font-weight: 800;
  font-size: 69px;
  background: linear-gradient(90deg, #7265ff, #ff51a3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.title p {
  color: var(--color);
  font-size: 17px;
}
.cards {
  display: flex;
  align-items: top;

  margin-top: 50px;
}
.contact {
  border: 1px solid var(--btn-bg-color);
  padding: 24px;
  box-shadow: var(--card-box-shadow);
  width: 50%;
  border-radius: 15px;
  margin-right: 24px;
}
.contact h2 {
  color: var(--text-color);
}
.contact form div {
  display: flex;
  flex-direction: column;
  padding: 12px 0px;
}
.contact form label {
  color: var(--text-color);
  padding: 5px;
  font-size: 18px;
}
.contact form input::placeholder {
  color: var(--placeholder-color);
  font-size: 16px;
}
.contact form input,
textarea {
  background-color: var(--input-background);
  border: none;
  width: 100%;
  padding: 18px 10px;
  border-radius: 15px;
  color: var(--text-color);
  font-size: 18px;
  transition: all 0.1s;
}
.contact form textarea {
  width: 100%;
  height: 170px;
  resize: none;
}
.contact form input:focus,
textarea:focus-visible {
  outline: 4px solid color-mix(in oklab, var(--primary) 50%, transparent);
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9rem 2.1rem;
  border-radius: 14px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  transition:
    transform 0.18s ease,
    box-shadow 0.18s ease;
  margin-top: 16px;
  width: 100%;
}
.submit-btn p {
  padding-left: 10px;
}
.submit-btn:hover {
  transform: scale(102%);
}
.error-massage {
  color: rgb(197, 0, 0);
  display: none;
}

.about_us {
  border: 1px solid var(--btn-bg-color);
  padding: 24px;
  box-shadow: var(--card-box-shadow);
  width: 50%;
  border-radius: 15px;
  color: var(--text-color);
  background-color: color-mix(in oklab, var(--color-pink-500) 10%, transparent);
}
.about_us p {
  color: var(--muted-foreground);
  padding: 10px 0px;
  font-size: 18px;
}
.my-information a {
  color: var(--text-color);
}
.my-information .d-flex {
  display: flex;
  justify-content: start;
  align-items: top;
  margin-top: 10px;
}
.bg-svg {
  background-color: color-mix(in oklab, var(--primary) 10%, transparent);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
.info-card {
  padding-top: 22px;
}
.info-text {
  line-height: 14px;
}
.my-information a:hover {
}

.workdays {
  margin-top: 24px;
  color: var(--text-color);
  border-top: 1px solid var(--btn-bg-color);
  padding-top: 14px;
}
.times .d-flex {
  justify-content: space-between;
}
.times p {
  padding-top: 12px;
}
.times span {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 700;
}
.suc-modal {
  text-align: center;
  color: var(--text-color);
  display: none;
  transition: all 0.3s;
  margin-top: 200px;
}
.suc-modal p {
  color: var(--muted-foreground);
  font-size: 20px;
}
.suc-modal div {
  background-color: rgb(0, 173, 0);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  color: white;
  margin-left: 235px;
}

@media (max-width: 768px) {
  .title h1 {
    font-size: 39px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
  }

  .contact,
  .about_us {
    width: 100%;
  }
  .about_us {
    margin-top: 50px;
  }
}
